@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --cyan: hsl(192, 100%, 9%);
  --blue: hsl(207, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--cyan);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 30px 20px;
  margin: 0 auto;
}

/* Header */

.header {
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.btn {
  border-radius: 20px;
  border: 1px solid var(--pink);
  padding: 10px 25px;
  box-shadow: 0px 5px 6px rgba(51, 51, 51, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.header-btn {
  background-color: #fff;
  color: var(--pink);
  text-transform: capitalize;
}

.header-btn:hover {
  border-color: var(--light-pink);
  color: var(--light-pink);
  transform: scale(1.08);
}

/* Hero Section */

.hero {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 30px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.small {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.btn-pink {
  background-color: var(--pink);
  color: #fff;
  margin-bottom: 30px;
}

.btn-pink:hover {
  background-color: var(--light-pink);
  border-color: var(--light-pink);
  transform: scale(1.08);
}

.hero-img {
  width: 100%;
}

@media screen and (max-width: 841px) {
  .small {
    width: 85%;
  }
}

/* Numbers Section */

.numbers {
  padding-bottom: 200px;
  background-image: url("./media/bg-section-top-desktop-1.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

.numbers > .container {
  display: flex;
  align-items: center;
}

.number-container {
  flex-grow: 1;
}

.number-heading {
  font-size: 5rem;
}

.gray {
  opacity: 0.4;
}

@media screen and (max-width: 685px) {
  .numbers {
    background-image: url("./media/bg-section-top-mobile-1.svg");
  }
  .numbers > .container {
    flex-direction: column;
    justify-content: center;
  }
  .number-container {
    text-align: center;
    margin-bottom: 60px;
  }
  .number-container:last-child {
    margin-bottom: 0;
  }
}

/* Grow Section */

.grow {
  background-color: var(--blue);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.grid-text {
  align-self: center;
}

.subheading {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.grid-img {
  width: 100%;
}

@media screen and (max-width: 667px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .reverse > .grid-img {
    grid-row: 1 / 2;
  }
}
